
{% macro btn(text, url, value, type) %}
 
{% if value %}
    <a href="{{url}}" class="btn btn-{{type}}">{{text}}</a>
{% else %}
    <a href="{{url}}" class="btn btn-link">{{text}}</a> 
{% endif %}

{% endmacro %}