{% extends "__layout.twig" %}

{% block content %}
    <h1>Редактирование героя из "Леди Баг и Супер Кот"</h1>
    <hr>

    {% if message %}
    <div class="alert alert-danger" role="alert">
        {{message}}
        <a href="/heroes/{{id}}">Открыть обновлённый объект</a>
    </div>
    {% endif %}
    

    <form action="" method="post" enctype="multipart/form-data" class="row g-3" >
        <div class="col-4">
            <label class="form-label">Название</label>
            <input type="text" class="form-control" name="title" value="{{heroes.title}}">
        </div>
        <div class="col-4">
            <label class="form-label">Краткое описание</label>
            <input type="text" class="form-control" name="description" value="{{heroes.description}}">
        </div>
        <div class="col-4">
            <label class="form-label">Тип</label>
            <select class="form-control" name="type">
                {% for type in types %}
                    <option value="{{type.id}}" {% if type.id == heroes.type %}selected{% endif %}>
                    {{type.title}}
                    </option>
                {% endfor %}  
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Картинка</label>
            <input class="form-control" type="file" name="image" value="{{heroes.image}}">
            <input class="form-control" type="text" name="image1" value="{{heroes.image}}">
        </div>
        <div class="col-12">
            <textarea name="info" placeholder="Полное описание..." class="form-control" rows="5">{{heroes.info}}</textarea>
        </div>
        <div class="col-12 text-end">
            <button type="submit" class="btn btn-danger">Редактировать</button>
        </div>
    </form>

{% endblock %}