{% extends "__layout.twig" %}

{% block content %}
  <h1>ЛЕДИ БАГ И СУПЕР КОТ</h1>

  <div class="mb-4">
      Адриан и Маринетт - старшеклассники, почти как все остальные. <br>
      При малейшей угрозе Парижу они становятся Леди Баг и Супер-котом. <br>
      Их миссия - захватить акум (тёмных бабочек), которые превращают людей в суперзлодеев. <br>
      Когда герои объединяются, каждый из них не знает истинной личности другого. <br>
      Маринетт не знает, что Супер-кот на самом деле Адриан, а Адриан не знает,
      что под маской супер-героини скрывается милая и ветреная одноклассница. <br>
  </div>

  <div class="mb-4">
  <img src="/img/logo.webp" alt="">
  </div>
  

  <div class="row  ">
    {% for object in heroes %}
      <div class="block position-relative">  
        <div class="position-absolute" style="right: 4px; top: 4px">
          <form action="/heroes/{{object.id}}/delete" method="post">
            
            <button type="submit" class="btn btn-danger">
              <i class="fas fa-times"></i>
            </button>
          </form>
        </div>

        <div class="position-absolute" style="left: 4px; top: 4px">
          <form action="/heroes/{{object.id}}/edit" method="get">
            
            <button  class="btn btn-secondary">
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
          </form>
        </div>

        <div class="main-image-wrapper"><img class = "img_main" src="{{object.image}}" alt=""></div>      
        <div><a class="btn btn-danger" href="/heroes/{{object.id}}">{{object.title}}</a></div>
        <div class="link_main">
          <a href="/heroes/{{object.id}}?show=image" class="me-3">Картинка</a>
          <a href="/heroes/{{object.id}}?show=info">Описание</a>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}